  <!-- Main Sidebar Container -->
  <aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/dashboard}" class="brand-link">
      <img th:src="@{/adminlte/dist/img/EMSLogo.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">JCS Corporation</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{/adminlte/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
            <a th:href="@{/dashboard}" class="nav-link" th:classappend="${activePage == 'dashboard'} ? ' active'">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-header">OPERATIONS</li>
            <li class="nav-item has-treeview" th:classappend="${activePage == 'employee_list'
                  || activePage == 'active_employee'
                  || activePage == 'inactive_employee'} ? ' menu-open'">
            <a href="#" class="nav-link" th:classappend="${activePage == 'employee_list'
                  || activePage == 'active_employee'
                  || activePage == 'inactive_employee'} ? ' active'">
              <i class="nav-icon fas fa-address-book"></i>
              <p>
                Employee
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/employee/employee_list}" class="nav-link" th:classappend="${activePage == 'employee_list'} ? ' active'">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Employee List</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/employee/active_employee}" class="nav-link" th:classappend="${activePage == 'active_employee'} ? ' active'">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Active Employee</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/employee/inactive_employee}" class="nav-link" th:classappend="${activePage == 'inactive_employee'} ? ' active'">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inactive Employee</p>
                </a>
              </li>
            </ul>
            </li>
            <li class="nav-item">
            <a th:href="@{/settings}" class="nav-link" th:classappend="${activePage == 'settings'} ? ' active'">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Settings
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>