<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main-layout}" 
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 style="font-size: xx-large;">Admin</h1>
         <div class="card">
              <div class="card-header">
                <button class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add Employee</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Lastname</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Tools</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="employees : ${employee}">
                    <td th:text="${employees.firstname}"></td>
                    <td th:text="${employees.middlename}"></td>
                    <td th:text="${employees.lastname}"></td>
                    <td th:text="${employees.position}"></td>
                    <td th:text="${employees.email}"></td>
                    <td th:text="${employees.address}"></td>
                    <td th:text="${#temporals.format(employees.birthday, 'MMMM dd, yyyy')}"></td>
                    <td th:text="${employees.role}"></td>
                    <td>
                        <button class="btn btn-sm btn-success"><i class="fas fa-edit"></i> Edit</button> 
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
                    </td>
                  </tr> 
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
    </div>
</body>
</html>